.pdf-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.pdf-viewer input {
  margin-bottom: 20px;
}

.pdf-viewer .pdf-document {
  width: 100%;
  display: flex;
  justify-content: center;
}
